---
import type { HTMLAttributes } from "astro/types";
import Socials from "./Socials.astro";

type Props = {
  noMarginTop?: boolean;
} & HTMLAttributes<"footer">;

const { noMarginTop = false, class: className, ...attrs } = Astro.props;

---

<footer
  class:list={["app-layout", { "mt-auto": !noMarginTop }, className]}
  {...attrs}
>
  <div
    class="border-border flex flex-col items-center justify-between border-t py-6 sm:flex-row-reverse sm:py-4"
  >
    <Socials />
    <div class="my-2 text-center">
      所有版权归卡皮巴菲特所有。仅供学习用途，禁止商用。
    </div>
  </div>
</footer>
